@model ASP_Mussika.Models.cinema

@{
    ViewBag.Title = "DetalhesSala";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-8 col-md-8">
            <div id="titlebar" class="utf_listing_titlebar">
                <div class="utf_listing_titlebar_title">
                    <h2>@Model.nome <span class="listing-tag">Cinema</span></h2>
                    <span> <a href="#" class="listing-address"> <i class="sl sl-icon-location"></i> @ViewBag.distrito </a> </span>
                    <span class="call_now"><i class="sl sl-icon-phone"></i> (+258) 000 000 000</span>
                    @*<div class="utf_star_rating_section" data-rating="4.5">
                            <div class="utf_counter_star_rating">(4.5) / (14 Reviews)</div>
                        </div>*@
                    @*<ul class="listing_item_social">

                        <li><a href="#" class="now_open">@string.Format("{0:N}MT", Model.preco_venda)</a></li>
                    </ul>*@

                </div>
            </div>
            <div id="utf_listing_overview" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30">Descrição</h3>
                @{ var html_descricao = new HtmlString(Model.descricao); }
                <text>

                    @html_descricao
                </text>

                <div id="utf_listing_tags" class="utf_listing_section listing_tags_section margin-bottom-10 margin-top-0">
                    <a href="#"><i class="sl sl-icon-phone" aria-hidden="true"></i> +(258) 000 000 000</a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> venda@mussika.co.mz</a>
                    <a href="#"><i class="sl sl-icon-globe" aria-hidden="true"></i> mussika.co.mz</a>
                </div>

            </div>





        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 col-md-4 margin-top-75 sidebar-search">
            <div class="verified-badge with-tip margin-bottom-30" data-tip-content="Listing has been verified and belongs business owner or manager."> <i class="sl sl-icon-check"></i> @ViewBag.distrito.ToUpper()</div>

            <div class="utf_box_widget margin-top-35 margin-bottom-75">
                <h3><i class="sl sl-icon-folder-alt"></i>Sessões de hoje</h3>
                <ul class="utf_listing_detail_sidebar">

                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="/PubCinema/DetalheSessao?id=1"><span>Filme: Bad Boys para Sempre</span> || <span>Data: </span> Hoje: 18:30H</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <a href="/PubCinema/DetalheSessao?id=2"><span>Filme: O Homem Invisivel</span> || <span>Data: </span> Hoje: 16:30H</a>
                    </li>



                </ul>
            </div>

            <div class="utf_box_widget margin-top-35 margin-bottom-75">
                <h3><i class="sl sl-icon-folder-alt"></i>Próximas Sessões</h3>
                <ul class="utf_listing_detail_sidebar">
                    @foreach (var item in ViewBag.categorias)
                    {
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="/PubCinema/DetalheSessao?id=@item.id"><span>Filme: @item.nome_filme</span> || <span>Data: </span> @item.dataConvetido @item.hora</a>

                        </li>
                    }


                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    $("#btnAddCarrinho").click(function () {
        debugger
          $.LoadingOverlay("show");
         var data = {

                    id_loja_produto: '@Model.id',
                    id_usuario: '@Session["idusario"]',

                };

                $.ajax({
                    method: "POST",
                    url: "/CarrinhoCompra/adicionarLojaNoCarrinho",
                    data: data,

                })
                    .done(function (msg) {
                        if (msg == "false") {

                            $.LoadingOverlay("hide");
                            informarErro("Nao foi possivel Adicionar no carrinho");


                        } else {
                            $.LoadingOverlay("hide");
                            informarSucesso("Artigo Adicionado ao carinho!");
                        }
                    });
    })

    $("#btnAddPagarAgora").click(function () {
    $.LoadingOverlay("show");
    setTimeout(function () {
        location.href = '/Pagamento/Index';
        $.LoadingOverlay("hide");
    }, 2000);

});
</script>

