@model PagedList.IPagedList<ASP_Mussika.Models.LojaViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "lojas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="titlebar" class="gradient margin-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Lojas da Zambézia</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/inicio/principal">Inicio</a></li>
                        <li>Lojas</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 listing_grid_item">
            <div class="row ">
                <div class="col-md-1">

                </div>
                <div class="col-md-4 center">
                    <h5><strong>Filtro por Nome:</strong></h5>
                    <input type="text" name="filtro" id="filtro" placeholder="Digite o nome da Loja..." value="@ViewBag.filtro">
                </div>
                <div class="col-md-3" style="margin-top:30px;">
                    <select id="filtroCategorias" data-placeholder="Distritos:" class="utf_chosen_select_single">
                        <option value="">--Selecione a Categoria--</option>
                        @foreach (var item in ViewBag.distritos)
                        {
                            <option value="@item.id">@item.nome</option>
                        }

                    </select>
                </div>
                <div class="col-md-2">
                    <a href="javascript:pesquisar()" style="margin-top:30px;" class="button gray"><i class="fa fa-search"></i> Pesquisar</a>
                </div>
                <div class="col-md-1">

                </div>

            </div>
            <div class="row">

                @foreach (var d in Model)
                {
                    <div class="col-md-3">
                        <a href="@Url.Action("Detalhes_loja", "PubShopMussika", new { id = d.id })" class="img-box" data-background-image="../Repository/images/lojas/@d.foto_capa">
                            <div class="utf_img_content_box visible">
                                <h4>@d.nome</h4>
                            </div>
                        </a>
                    </div>

                }
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="utf_pagination_container_part margin-top-20 margin-bottom-75">
                        <nav class="pagination">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Lojas",
                                    new { page }))
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#filtroCategorias").val('@ViewBag.distrito')
     function pesquisar() {

        location.href = '/PubShopMussika/Lojas?distrito='+$("#filtroCategorias").val()+'&filtro='+$("#filtro").val();

    }
</script>

