@model ASP_Mussika.Models.AcomodacaoViewModel
@{
    ViewBag.Title = "ProcessarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Verificação de Reserva</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/inicio/Principal">Inicio</a></li>
                        <li>Verificação de Reserva</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-lg-8 col-md-8 utf_listing_payment_section">
            <div class="utf_booking_listing_section_form margin-bottom-40">
                <h3><i class="sl sl-icon-paper-plane"></i> @Model.nome</h3>
                <text style="text-align:justify;">
                    @{ var html_descricao = new HtmlString(Model.descricao); }
                    @html_descricao
                </text>
            </div>

            <div class="utf_booking_payment_option_form">
                <h3><i class="sl sl-icon-credit-card "></i> Confirmar/Processar Reserva</h3>
                @*<text style="text-align:justify;">
                 adsadsadsadsadsadsadsadsadsadsadsa dssad sadsa dsadsads d sad sd sadsd frg fgfgf g f g
                </text>*@
                <a id="link" href="javascript:confirmarReserva(@ViewBag.sumario.id);" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Processar a reserva Agora</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 margin-top-0 utf_listing_payment_section">
            <div class="utf_booking_listing_item_container compact utf_order_summary_widget_section">
                <div class="listing-item">
                    <img src="../Repository/images/Acomodacoes/@Model.foto_capa" alt="">
                    <div class="utf_listing_item_content">
                        <h3>@Model.nome</h3>
                        <span><i class="sl sl-icon-location"></i> @Model.endereco</span>
                        @*<span><i class="sl sl-icon-phone"></i> +(258) @Model.telefone</span>*@
                        <div class="utf_star_rating_section" data-rating="4.5">
                            <div class="utf_counter_star_rating">@Model.nomeDistrito</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxed-widget opening-hours summary margin-top-0">
                <h3><i class="fa fa-calendar-check-o"></i> Sumario da Reserva</h3>
                <ul>
                    <li>Data Chegada <span>@ViewBag.sumario.data_chegada</span></li>
                    <li>Quarto <span>@ViewBag.quarto.descricao</span></li>
                    <li>Data Saida <span>@ViewBag.sumario.data_saida</span></li>
                    <li>Hospede(s) <span>@ViewBag.sumario.Hospedes Hospede(s)</span></li>
                    <li>Deposito <span> 0,00MT</span></li>
                    <li>I.V.A <span>% 17.00</span></li>
                    <li class="total-costs">Sub Total <span>@string.Format("{0:N}MT", ViewBag.sumario.custo_total)</span></li>
                    @*<li class="total-costs">
                            <div class="col-md-8">
                                <input id="couponCode" placeholder="Have a coupon enter here..." required="" type="text">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="coupon_code" value="Apply">
                            </div>
                            <div class="clearfix"></div>
                        </li>*@
                    <li class="total-costs">Custo Total <span>@string.Format("{0:N}MT", ViewBag.sumario.custo_total)</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>
<script src="/Content/sinon-1.10.3.js"></script>
<script src="/Content/sinon-qunit-1.0.0.js"></script>
<script src="/Content/jquery.mask.js"></script>
<script src="/Content/jquery.mask.test.js"></script>

<script>

   
    function confirmarReserva(id) {
        location.href = '/PubReserva/confirmarReserva?id=' + id;
    }
</script>

