@model ASP_Mussika.Models.obra_arte

@{
    if (Session["tipo"].ToString() == "4")
    {
        ViewBag.Title = "Criar";
        Layout = "~/Views/Shared/_LayoutProvedor.cshtml";
    }
    else
    {
        ViewBag.Title = "Criar";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<div class="add_utf_listing_section margin-top-45">
    <div class="utf_add_listing_part_headline_part">
        <h3><i class="sl sl-icon-tag"></i>Dados da Obra</h3>
    </div>
    <div class="row with-forms">
        <div class="col-md-4">
            <div class="col-md-12" id="divRestaurante">
                <h5>Nome da Autor<strong style="color:orangered">*</strong></h5>
                <input type="text" class="search-field" name="nomeAutor" id="nomeAutor" placeholder="Autor" value="@ViewBag.autor.nome" disabled>
            </div>

        </div>

        <div class="col-md-4">

            <h5>Categoria Obra<strong style="color:orangered">*</strong></h5>
            @Html.DropDownListFor(m => m.id_categoria_obra, ViewBag.categorias as SelectList, "--seleccione a categoria--", new { @class = "utf_chosen_select_single btn btn-mini", @style = "width: 100%;", @id = "descricao", @name = "id" })

        </div>
        <div class="col-md-4">
            <h5>titulo<strong style="color:orangered">*</strong></h5>
            <input type="text" name="titulo" id="titulo" placeholder="Titulo..." value="@Model.titulo">
        </div>

    </div>
    <div class="row with-forms">
        <div class="col-md-4">
            <h5>Matéria</h5>
            <input type="text" name="materia" id="materia" placeholder="Matéria..." value="@Model.materia">
        </div>
        <div class="col-md-4">
            <h5>Suporte</h5>
            <input type="text" name="suporte" id="suporte" placeholder="Suporte..." value="@Model.suporte">
        </div>
        <div class="col-md-4">
            <h5>Tecnica</h5>
            <input type="text" name="tecnica" id="tecnica" placeholder="Tecnica..." value="@Model.tecnica">
        </div>

    </div>
    <div class="row with-forms">
        <div class="col-md-4">
            <h5>Dimensões</h5>
            <input type="text" name="dimensoes" id="dimensoes" placeholder="Dimensões..." value="@Model.dimensoes">
        </div>
       
        <div class="col-md-4">
            <h5>Autoria produção</h5>
            <input type="text" name="autoriaProducao" id="autoriaProducao" placeholder="Autoria produção..." value="@Model.autoria_producao">
        </div>
        <div class="col-md-4">
            <h5>Proprietário</h5>
            <input type="text" name="proprietario" id="proprietario" placeholder="Proprietário..." value="@Model.proprietario">
        </div>

    </div>
    <div class="row with-forms">
        <div class="col-md-4">
            <h5>Ano</h5>
            <input type="number" name="ano" id="ano" min="0" value="@Model.ano" placeholder="ano...">
        </div>
        <div class="col-md-4">
            <h5>Preço de venda</h5>
            <input type="number" name="preco_venda" id="preco_venda" min="0" value="@Model.preco_venda">
        </div>
        <div class="col-md-4">
            <h5>Peso do Produto(KG)</h5>
            <input type="number" min="0" class="search-field" name="peso" id="peso" placeholder="Peso em KG" value="@Model.peso">
        </div>


    </div>
    <div class="row with-forms">

        <h5>Informação Técnica</h5>
        @{var de_ = @Html.Raw(HttpUtility.HtmlDecode(Model.informacao_tecnica));

            var html_descricao = new HtmlString(de_.ToHtmlString());
        }
        <textarea name="infoTecnica" cols="40" rows="3" id="infoTecnica" placeholder="Informação Técnica..." spellcheck="true">
@html_descricao
</textarea>
    </div>

</div>
<div class="row with-forms" style="margin-top:40px;">
    <div class="col-md-2">
        <button id="btnSalvar" style="margin-top:40px; margin-bottom:30px;" class="button btn-sm">Prosseguir</button>

    </div>
</div>

<script>
   
     $("#btnSalvar").click(function () {
    debugger
        if ($("#nomeAutor").val().trim().toLowerCase() == "") {

            informarErro("Informe o nome do autor");
            throw new Error();
        }

          if ($("#titulo").val().trim().toLowerCase() == "") {

            informarErro("Informe o Titulo");
            throw new Error();
        }
        if ($("#descricao").val().trim().toLowerCase() == "") {

            informarErro("Informe o Titulo");
            throw new Error();
         }
         if ($("#preco_venda").val().trim().toLowerCase() == "") {

             informarErro("Informe o preço de venda");
             throw new Error();
         }
         if ($("#peso").val() == '') {
             informarErro("Informe o peso");
             throw new Error();
         }
         var preco_venda = parseFloat($("#preco_venda").val());
        
         if (preco_venda <= 0) {
             informarErro("Informe o preço de venda");
             throw new Error("");
         }

        salvar();
     })

     function salvar() {
        $.LoadingOverlay("show");
         var model = new FormData();
         var content = tinyMCE.activeEditor.getContent();
        model.append('id', '@Model.id');
        model.append('id_artista_obra', '@ViewBag.autor.id');
        model.append('autor', $("#nomeAutor").val());
        model.append('id_categoria_obra', $("#descricao").val());
        model.append('titulo', $("#titulo").val());
        model.append('autor', $("#autor").val());
        model.append('materia', $("#materia").val());
        model.append('suporte', $("#suporte").val());
        model.append('tecnica', $("#tecnica").val());
        model.append('dimensoes', $("#dimensoes").val());
        model.append('autoria_producao', $("#autoriaProducao").val());
         model.append('informacao_tecnica', content.trim());
         model.append('proprietario', $("#proprietario").val());
         model.append('ano', $("#ano").val());
         model.append('preco_venda', $("#preco_venda").val());
         model.append('peso', $("#peso").val());


        $.ajax({
            method: "POST",
            url: "/arte_cultura/SalvarObra",
            data: model,
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                if (msg == "false") {

                    $.LoadingOverlay("hide", true);
                    informarErro("Nao foi possivel cadastrar este Autor");


                } else if (msg == "existe") {
                    $.LoadingOverlay("hide", true);
                    informarErro("Este Quarto ja Existe");
                }
                else {
                    $.LoadingOverlay("hide", true);
                    location.href = '/arte_cultura/carregarFotos?id=' + @Model.id;
                    //location.href = '/Autor/Obras?id='+msg;
                    //informarSucesso("Quarto Cadastrado com Sucesso")
                    $('.with-forms').find("input[type=text], textarea").val("");
                    Dropzone.forElement('#filedrop').removeAllFiles(true)

                }

            });
    }
</script>

