@using ASP_Mussika.Models.ViewModel;
@using ASP_Mussika.Models;
@model List<acomodacao_ViewModel>


@{
    string current_page = (string)ViewBag.current_page;
    int rpp = ViewBag.records_perpage;
    List<acomodacao_ViewModel> lista_registos = (List<acomodacao_ViewModel>)ViewBag.lista_acomodacoes;
    //rpp -> records per page
}




<div class="row">
    @foreach (acomodacao_ViewModel acd in Model)
    {

        <div class="col-lg-12 col-md-12">
            <div class="utf_listing_item-container list-layout">
                <a href="@Url.Action("perfil", "acomodacao", new { id = acd.id })" class="utf_listing_item">

                    <div class="utf_listing_item-image">
                        <img src="@Url.Content(acd.caminho_imagem)" alt="">
                        <span class="like-icon"></span>
                        <span class="tag"><i class="im im-icon-Hotel"></i> Hotel</span>
                        <div class="utf_listing_prige_block utf_half_list">
                            @*<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> 1.200MT </span>*@
                            <span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
                        </div>
                    </div>
                    <span class="utf_open_now">Disponivel</span>
                    <div class="utf_listing_item_content">
                        <div class="utf_listing_item-inner">
                            <h3>@acd.nome </h3>
                            <span><i class="sl sl-icon-location"></i>@acd.endereco</span>
                            <span><i class="sl sl-icon-phone"></i> @acd.telefone</span>
                            <div class="utf_star_rating_section" data-rating="@acd.classificao">
                                <div class="utf_counter_star_rating">(@acd.classificao)</div>
                            </div>
                            <p>@acd.descricao</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    }
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="utf_pagination_container_part margin-top-0 margin-bottom-70">
            <nav class="pagination">
                @{

                    int total_records = lista_registos.Count;
                    int pageCount = (total_records + rpp - 1) / rpp;
                    int initial_index = int.Parse(current_page);
                    int current_index = int.Parse(current_page);
                    int nextpage_index = current_index + rpp;

                    if (total_records > 0)
                    {
                        bool search_bykey = false;

                        if (search_bykey == false)
                        {


                            <ul>

                                @if (initial_index == 0)
                                {
                                    if (pageCount == 1) { }
                                    <li><a href="#!" class="current-page">1</a></li>

                                    for (int i = 1; i <= pageCount - 1; i++)
                                    {
                                        int bt_index = current_index + rpp;
                                        current_index = bt_index;
                                        int pg = i + 1;

                                        <li><a id="@bt_index" href="#!" onclick="SelectPage(this.id)">@pg</a></li>
                                    }
                                }
                                @if (initial_index > 0)
                                {
                                    int prevpage = current_index - rpp;
                                    int count = (-1) * rpp;

                                    for (int i = 0; i <= pageCount - 1; i++)
                                    {
                                        count = count + rpp;
                                        current_index = count;
                                        int pg = i + 1;

                                        if (initial_index == count)
                                        {
                                            <li><a href="#!" class="current-page">@pg</a></li>
                                        }
                                        else
                                        {
                                            <li><a id="@count" href="#!" onclick="SelectPage(this.id)">@pg</a></li>
                                        }
                                    }
                                }

                            </ul>

                            current_index = 0;
                        }
                        else
                        {

                        }
                    }
                    else
                    {
                        <h5 style="color:black;"> ("Nenhum resultado encontrado")  </h5> <br /> <br />
                    }
                }
            </nav>
        </div>
    </div>
</div>