
<div class="col-md-12">
    <div class="container_categories_box margin-top-5 margin-bottom-30">
        <a href="/PubShopMussika/Loja_Shop" class="utf_category_small_box_part">
            <i class="im im-icon-Box-Close"></i>
            <h4>Shop Mussika</h4>
            @*<span>@Model.artigos</span>*@
        </a>



        <a href="/PubAcomodacao/Categorias" class="utf_category_small_box_part">
            <i class="im im-icon-Hotel"></i>
            <h4>Acomodação</h4>
            
        </a>

        <a href="/servico_taxi/Index" class="utf_category_small_box_part">
            <i class="im im-icon-Taxi"></i>
            <h4>Taxi</h4>
            @*<span>@Model.taxis</span>*@
        </a>

        <a href="/inicio/restaurantes" class="utf_category_small_box_part">
            <i class="im im-icon-Chef-Hat"></i>
            <h4>Restaurantes</h4>
            @*<span>@Model.restaurantes</span>*@
        </a>

        <a href="/PubArte/Index" class="utf_category_small_box_part">
            <i class="im im-icon-Shuffle"></i>
            <h4>Arte & Cultura</h4>
            @*<span>@Model.artecultura</span>*@
        </a>

        <a href="/PubMusica/Index" class="utf_category_small_box_part">
            <i class="im im-icon-Music-Player"></i>
            <h4>Música</h4>
            @*<span>@Model.musicas</span>*@
        </a>


        <a href="/Eventos/categorias" class="utf_category_small_box_part">
            <i class="im im-icon-Electric-Guitar"></i>
            <h4>Eventos</h4>
            @*<span>@Model.eventos</span>*@
        </a>
        <a href="/Turismo/categorias" class="utf_category_small_box_part">
            <i class="im im-icon-Plane"></i>
            <h4>Turismo</h4>
            @*<span>@Model.turismo</span>*@
        </a>

        <a href="/PubSaude/Index" class="utf_category_small_box_part">
            <i class="im im-icon-Hospital"></i>
            <h4>Saúde</h4>
            @*<span>@Model.saude</span>*@
        </a>

        <a href="/ServicoMussika/Index" class="utf_category_small_box_part">
            <i class="im im-icon-Car"></i>
            <h4>Serviços Mussika</h4>
            @*<span>2</span>*@
        </a>



    </div>
    @*<div class="col-md-12 centered_content"> <a href="#" class="button border margin-top-20">View More</a> </div>*@
</div>
