@model PagedList.IPagedList<ASP_Mussika.Models.item_pacote_subscricao>
@using PagedList.Mvc;
@{
    ViewBag.Title = "addItensPacote";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="notification success closeable margin-bottom-30">
            <h2>Pacote - <strong>@ViewBag.pacote_subscricao.nome</strong></h2>
            <p>Gerenciamento de <strong>Pacotes</strong>!</p>
            <a class="close" href="#"></a>
        </div>
    </div>
</div>

<div class="row">
    <button id="btnSalvar" style="margin-top:40px; margin-left:20px;" class="button gray">Adicionar Vantagens/Beneficios</button>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="utf_dashboard_list_box table-responsive recent_booking">
                <h4>Beneficios Cadastrados</h4>
                <div class="dashboard-list-box table-responsive invoices with-icons">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Beneficio</th>
                                <th>Acções</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.item_nome)
                                    </td>

                                    <td>
                                        <a href="javascript:ver(@item.id)" class="button gray"><i class="fa fa-eye"></i> Ver/Editar</a>



                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="utf_pagination_container_part margin-top-20 margin-bottom-70">
                    <nav class="pagination">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("addItensPacote",
                            new { page, id = @ViewBag.id_pacote }))
                        @*<ul>
                                <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                            </ul>*@
                    </nav>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-6">
             <td><a href="dashboard_bookings.html" class="button gray"><i class="fa fa-eye"></i> View</a></td>
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="utf_dashboard_list_box table-responsive recent_booking">
                    <h4>Quartos Cadastrados</h4>

                </div>
            </div>


        </div>*@
</div>
<div class="row">
    <button id="btnPacotes" style=" margin-left:20px;" class="button gray">Ir para Pacotes</button>
</div>
<script>
    var ver = function (id) {
        location.href = '/Publicidade/EditarBeneficio?id=' + id;
    }
     $("#btnPacotes").click(function () {
        debugger
        $.LoadingOverlay("show");
        setTimeout(function () {
            window.location.href = '/Publicidade/Index';
            $.LoadingOverlay("hide");
        }, 2000);
        
     })

    $("#btnSalvar").click(function () {
        debugger
        $.LoadingOverlay("show");
        setTimeout(function () {
            $.LoadingOverlay("hide");
        }, 2000);
        location.href = '/Publicidade/CriarVantagem?id=' + '@ViewBag.id_pacote';
        })
</script>
 