@using ASP_Mussika.Models;
@model List<distrito>

@{
    ViewBag.Title = "listagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">

            <br />
            @*<h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30"><b>Quelimane</b> - Restaurantes </h3>*@
            <h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30"> Acomodações </h3>

            <div class="listing_filter_block">
                <div class="col-md-2 col-xs-2">
                    <div class="utf_layout_nav"> <a href="#" class="grid active"><i class="fa fa-search"></i></a> </div>
                </div>
                <div class="col-md-10 col-xs-10">
                    <div class="sort-by trigger">
                        <div class="utf_sort_by_select_item sort_by_margin">
                            <select id="cmb_distrito" data-placeholder="Sort by Listing" class="utf_chosen_select_single cmb_sortby trigger ">
                                <option value="0"> Todos Distritos</option>
                                @foreach (distrito dt in Model)
                                {
                                    <option value="@dt.id">@dt.nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <div class="sort-by">
                            <div style="width:400px;" class="utf_sort_by_select_item sort_by_margin">
                                <input class="trigger" id="txt_pesquisa" placeholder="Pesquisar acomodação…" type="text" value="" style="width:100%;" />
                            </div>
                        </div>
                    </div>

                    @*<div class="hidden-lg hidden-md">
                            <div class="sort-by">
                                <div style="width:100%;" class="utf_sort_by_select_item sort_by_margin">
                                    <input placeholder="Pesquisar acomodação…" type="text" value="" style="width:100%;" />
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>

            <p>
                <i class="fa fa-align-justify"></i> Lista de Acomodações
                <hr />
            </p>

            <div id="div_acomodacoes">
                @Html.Action("acomodacoes_partial")
            </div>

            <div class="clearfix"></div>

        </div>

        <!-- Sidebar -->
        @Html.Partial("~/Views/Inicio/Partials/_RightSideBar.cshtml")
    </div>
</div>



@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

           
            $(".trigger").change(function () {

                var id_distrito = $("#cmb_distrito").val();
                var nome = $("#txt_pesquisa").val();

                $("#div_acomodacoes").load('@(Url.Action("acomodacoes_partial", "acomodacao", null, Request.Url.Scheme))?id_distrito=' + id_distrito + '&nome=' + nome);

            });


            $(".trigger").keyup(function () {

                var id_distrito = $("#cmb_distrito").val();
                var nome = $("#txt_pesquisa").val();

                $("#div_acomodacoes").load('@(Url.Action("acomodacoes_partial", "acomodacao", null, Request.Url.Scheme))?id_distrito=' + id_distrito + '&nome=' + nome);

            });

        });


        function SelectPage(id) {

            var id_distrito = $("#cmb_distrito").val();
            var nome = $("#txt_pesquisa").val();

            $("#div_acomodacoes").load('@(Url.Action("acomodacoes_partial", "acomodacao", null, Request.Url.Scheme))?id_distrito=' + id_distrito + '&nome=' + nome + '&indice=' + id);

        }


    </script>

}